/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul, li {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom styles */

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #eeeeee;
}

.nav-left i{
  margin: 0 15px;
}

.nav-btn{
  margin-right: 30px;
}

.nav-btn button{
    margin-right: 5px;
    background-color: rgb(98, 136, 165);
    color: white;
    padding: 11px 12px 8px 12px;
    border-color: darkblue;
    border-radius: 5px;
    border-width: 1px;
    font-weight: 1000;
    cursor: pointer;
}

.container{
    margin: 100px auto;
}

.big-img{
    width: 940px;
    margin: 20px auto;

}

.big-img img{
    width: 100%;
    height: auto;
}

.big-img h1{
    font-size: 2rem;
    line-height: 2.25rem;
    font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
    font-style: italic;
    font-weight: 700;
    margin: 35px 20px 1rem;
    text-align: center;
}

.article{
    width: 650px;
    margin-left: 25%;
}

.article-date{
  margin: 20px 0;
}

.editors-pick{
    width: 210px;
    float: right;
    margin: 0 90px 0 0;
}
.editors-section img{
  width: 70px; height: 50px;
  float: left;
}
.editors-section p{
  width: 130px;
  margin: 0 0 0 10px;
  float: right;
}
.editors-section {
  width: 210px; min-height: 70px;
  display: block;
  font-size: 12px;

}
.article img{
  width: 650px;height: 410px;
}
.content-trending{
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
}
.content{
  width: 680px;
}
.content-section{
  width: 680px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 3;
}
.content-info{
  width: 210px; height: 180px;
  margin: 8px;
}
.content-info img{
  width: 210px;height: 140px;
}
.content-info p{
  margin: 10px 2px 2px 2px;
  font-family: serif;
  font-size: 14px;
}
.caption{
  font-size: 10px;
  color: #2d2d2d;
  float: right;
}
.line{
  border-top: 1px solid #000;
  padding: 15px 0 15px 0;
  font-weight: bold;
}

.trending{
  width: 300px;
  margin: 0 0 0 20px;
  border-top: 1px solid #000;}
.trending li{
  padding: 10px 10px 10px 0;
  height: auto;
  border-bottom: 1px solid #d9d9d9;
}

.socials{
  display: inline-block;
}

.date{
    display: inline-block;
    margin-right: 450px;
}